<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} class="mb-4">Education</h2>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
      <div class="col-12">
        <ul class="timeline timeline-centered mt-4">
              <li class="timeline-item">
                    <div class="timeline-info mt-1">
                        <span class="f6 text-uppercase text-bold">2013 - 2015</span>
                     </div>
                     <div class="timeline-marker"></div>
                    <div class="timeline-content mt-1">
                        <p class="timeline-title h3">
                          <span>DonNTU</span>
                        </p>
                        <p class="f5 text-gray mb-0 mt-2">Donetsk National Technical University</p>
                        <p class="f5 text-gray mb-0 mt-2">Faculty of Computer Science and Technology</p>
                        <p class="f5 text-gray mb-0 mt-2 text-bold">Master of Software Engineering</p>
                    </div>
              </li>
              <li class="timeline-item">
                    <div class="timeline-info mt-1">
                        <span class="f6 text-uppercase text-bold">2009 - 2013</span>
                     </div>
                     <div class="timeline-marker"></div>
                    <div class="timeline-content mt-1">
                        <p class="timeline-title h3">
                          <span>DonNTU</span>
                        </p>
                        <p class="f5 text-gray mb-0 mt-2">Donetsk National Technical University</p>
                        <p class="f5 text-gray mb-0 mt-2">Faculty of Computer Science and Technology</p>
                        <p class="f5 text-gray mb-0 mt-2 text-bold">Bachelor of Software Engineering</p>
                    </div>
              </li>
        </ul>
</div>
