<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} class="mb-4">My Experience</h2>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    <div class="col-12">
        <ul class="timeline timeline-centered mt-4">
              {% for item in site.experience %}
                  <li class="timeline-item">
                    <div class="timeline-info mt-1">
                        <span class="f6 text-uppercase text-bold">{{ item.date }}</span>
                     </div>
                     <div class="timeline-marker"></div>
                    <div class="timeline-content mt-1">
                        <p class="timeline-title h3">
                          {% if item.logo %}
                            <img src="{{ item.logo }}" class="timeline-title-logo mr-2" />
                          {% endif %}
                          <span>{{ item.title }}</span>
                        </p>
                        <p class="f5 text-gray mb-0 mt-2">{{ item.description }}</p>
                        {% if item.technologies %}
                          <p class="f5 text-gray mb-0 mt-2">
                            <span class="text-bold">Technologies:</span> 
                            <span>{{ item.technologies }}</span>
                          </p>
                        {% endif %}
                    </div>
                  </li>
              {% endfor %}
          </ul> 
    </div>
</div>
