# This is a basic workflow to help you get started with Actions

name: Jekyll Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      # only deploy from master
      - master
#   schedule:
#     # redeploy every morning to update unpublished pages
#     - cron: "0 2 * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cache gems
        uses: actions/cache@v4
        with:
          path: vendor/gems
          key: ${{ runner.os }}-build-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Build & Deploy to GitHub Pages
        uses: s0ph1e/jekyll-deploy@master
        env:
          JEKYLL_ENV: production
          JEKYLL_GITHUB_TOKEN: ${{ secrets.JEKYLL_GITHUB_TOKEN }}
          GH_PAGES_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
          LC_ALL: "C.UTF-8"
          LANG: "en_US.UTF-8"
          LANGUAGE: "en_US.UTF-8"
